<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
 	<bean id="ClassWiseExcel"
	  class="org.brijframework.college.controller.admin.student.ClassWiseExcelReport">
	</bean>
	<bean id="SectionWiseExcel"
	  class="org.brijframework.college.controller.admin.student.SectionWiseExcelReport">
	</bean>
	<bean id="ClassFeeDefaulter"
	  class="org.brijframework.college.controller.admin.fee.ClassFeeDefaulter">
	</bean>
		<bean id="attendanceStudent"
	  class="org.brijframework.college.controller.admin.student.AttendanceStudent">
	</bean>
</beans>